.home-container {
    text-align: center;
    padding: 20px;
    background-color: black; /* Background color */
    color: white; /* Text color */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .home-links {
    display: flex;
    gap: 50px;
  }
  
  .home-links div {
    text-align: center;
  }
  
  .home-links h2 {
    margin-bottom: 15px;
  }
  
  .home-link {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: red; /* Button background color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .home-link:hover {
    background-color: darkred; /* Hover effect */
  }
  